.Chat
  .MainHeader
    .MainHeader__group
      .MainHeader__groupName
        test
      .MainHeader__memberList
        Member : kiyo
    = link_to "#", class: "MainHeader__Edit" do
      Edit
  .Message
    .Message__box
      .Message__info
        .Message__user-name
          kiyo
        .Message__date
          2020年06月08日 14時31分
      .Message__comment
        おはよう
    .Message__box
      .Message__info
        .Message__user-name
          kiyo
        .Message__date
          2020年06月08日 14時31分
      .Message__comment
        こんばんわ
  .Under_content
    .Form
      %form.Form__contents
      .Form__inputBox
        %input.Form__inputText{"placeholder": "type a message", "type": "text"}
          %label.Form__inputImg{"name": "message[image]",}
            = icon('far', 'image')
            %input.Form__inputImg_file{"name": "message[image]", "type": "file"}
      %input.Form__submitBtn{"name": "commit", "type": "submit", "value": "Send"}
