.Message__box{data: {message: {id: message.id}}}
  .Message__info
    .Message__user-name
      = message.user.name
    .Message__date
      = message.created_at.strftime("%Y年%m月%d日 %H時%M分")
  .Messages
    - if message.content.present?
      .Message__comment
      = message.content
    = image_tag message.image.url, class: 'Message__Img' if message.image.present?