.SideBar
  .LeftHeader
    .LeftHeader__list
      .LeftHeader__UserName
        kiyo
      .LeftHeader__iconList
        = link_to " # ", class: "LeftHeader__Icon"  do
          = icon('fas', 'edit', class: "LeftHeader__Icon")
        = link_to " # ", class: "LeftHeader__Icon"  do
          = icon('fa', 'cog', class: "LeftHeader__Icon")
  .GroupList
    .Group
      .Group__name
        techcamp
      .Group__message
        まだメッセージがありません
