.Side_header
  .Side_top
    .Side_box
      .user-name
        kiyo
      .system
        = link_to " # ", class: "Header__icons"  do
          = icon('fas', 'edit', class: "Header__icon")
        = link_to " # ", class: "Header__icons"  do
          = icon('fa', 'cog', class: "Header__icon")
  .Groups
    .Group
      .Group-name
        techcamp
      .Group-messages
        まだメッセージがありません
